/*
#7d3c98 Morado oscuro
#DAF7A6 Verde lima claro
#FFC300 Mostaza medio
#FF5733 Naranja
#C70039 Rojo
#900C3F Vinotinto

F4F1DE Beige
E07A5F Naranja medio
3D405B Gris oscuro
81B29A Verde medio
F2CC8F Amarillo claro/medio 
*/

h1{
    color: #900C3F;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: #7d3c98;

}

.button {
    background-color: #F4F1DE;
    border: 2px solid #DAF7A6;
    border-radius: 8px;
    color: #C70039 ;
    padding: 15px 32px;
    
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 200px;
    cursor: pointer
    ;
}

